# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Intellij File   #
###################
*.iml
.idea
.idea_modules

# Target          #
# #################
target

dependency-reduced-pom.xml

# sbt             #
# #################
logs
project/project
project/target
tmp
.tmp
dist
.cache
.history

*.lock

.DS_Store
*.swp

# mkdocs
doc/site/


